<!DOCTYPE html>


<!-- <body>
    <header class="HeaderSearch">
        <div id="Header_container">
            <div class="column">
                <img src="src\app\flight-search\Images\Logo.jpg">
            </div>
            <div class="column">
                <form class="SearchFields">
                        <div class="trip_Type">
                            <label for="tripType">Trip Type </label><br>
                            <select id="tripType">
                                <option *ngFor="let trip of trip_Type" [value]="trip">
                                    {{trip}}
                                </option>
                            </select>
                        </div>
                        <div class="fromLocation">
                            <label for="fromLocation">From location </label><br>
                            <input type="text" id="fromLocation">
                        </div>
                        <div class="toLocation">
                            <label for="toLocation">To Location</label><br>
                            <input type="text" id="toLocation">
                        </div>
                        <div class="fromDate">
                            <label for="fromDate">From Date </label><br>
                            <input type="date" id="fromDate">
                        </div>
                        <div>
                            <label for="toDate">To Date</label><br>
                            <input type="date" id="toDate">
                        </div>
                </form>
            </div>
            <div class="column">
                <div>
                    <button class="searchbtn">Search</button>
                </div>
            </div>
        </div>
    </header>
</body>

</html> -->
<html>

<body>
    <header class="HeaderSearch">
        
        <div class="column" id="logo">
            <img src="..\..\Images\logo.jpg">
        </div>

        <div class="column"  id="searchFields">
            <div class="trip_Type">
                <label for="tripType">Trip Type </label><br>
                <select id="tripType">
                    <option *ngFor="let trip of trip_Type" [value]="trip">
                        {{trip}}
                    </option>
                </select>
            </div>
            <div class="fromLocation">
                <label for="fromLocation">From location </label><br>
                <input type="text" id="fromLocation">
            </div>
            <div class="toLocation">
                <label for="toLocation">To Location</label><br>
                <input type="text" id="toLocation">
            </div>
            <div class="fromDate">
                <label for="fromDate">From Date </label><br>
                <input type="date" id="fromDate">
            </div>
            <div>
                <label for="toDate">To Date</label><br>
                <input type="date" id="toDate">
            </div>
        </div>
        
        <div class="column" id="searchButton">
            <button class="searchbtn">Search</button>
        </div>
    </header>
</body>

</html>