
// body{
//   background-color: black ;
//   margin: 0px;
// }
// header{
//   height: 80px;
//   background-color: white;
// }
// #Header_container{
//   width: 80%;
//   margin: auto;
// }

// .column{
//   background-color: red;
//   float: left;
//   width: 33%;
// }

// .SearchFields {
//   width: 80%;
//   display: inline;
// }
////////////////////////////

// body{
//   background-color: black;
// }


// #Header_container{
//   display: flex;
//   height: 50px;
//   display: flex;
// }

// .SearchFields{
//   display: flex; 
//   color: blue;
//   background-color: burlywood;
// }


// .searchbtn{
//   background-color: green;
// align-content: center;
// }


header{
  background-color: orange;
  width: 100%;
  
}
// body{
//   background-color: black;
//   width: 100%;
//   height: 100%;
// }
// .column{
//   height: 100%;
//   width: 100%;
//   background-color: rgb(167, 243, 14);
//   text-align: center;
// }
.trip_Type,.fromLocation,.toLocation,.fromDate,.toDate{

  width: 100%;
  
}
.HeaderSearch{
  display: inline-flex;
}

#logo{
  background-color: rgb(31, 31, 73);
  width: 10%;
}
#searchFields{
  color: white;
  background-color: rgb(31, 31, 73);
  width: 75%;
  display: inline-flex;
}
#searchButton{
  background-color: rgb(167, 14, 14);
  width: 15%;
  text-align: center;
}
button{
  border-radius: 40px;
}