body {
  color: white;
  position:fixed; 
  height:100%; 
  width:100%;
  background-color:rgb(218, 217, 224);
  margin: 0%;

}

section{
  background-color: orange;
  width: 100%;
  
  
}
.HeaderSearch{
  display: inline-flex;
  
}

.trip_Type,.fromLocation,.toLocation,.fromDate,.toDate,.searchButton{

  width: 100%;
  
}


#logo{
  background-color: rgb(31, 31, 73);
  width: 10%;
}
#searchFields{
  color: white;
  background-color: rgb(31, 31, 73);
  width: 90%;
  display: inline-flex;
}
#searchButton{
  background-color: rgb(167, 14, 14);
  color: green;
  // width: 15%;
  // text-align: center;
  // background: green;
  
}
button{
  border-radius: 40px;
}

////////////////////////////////////////
.listingCard{
  padding: 16px 20px;
  background: rgb(94, 195, 235);
  border-top: 8px solid #e5eef5;
  border-radius: 2px;
  position: relative;
  width: 50%;
  display: inline-flex;
} 



.flightData {
  
  border-color: black; 
  // border-style: solid;
  // border-radius: 8px;
  padding: 20px;
}
